.abcd {
  padding: 60px 150px;
  height: 100%;
  align-items: center;
  align-content: center;
  background-color: rgb(224, 224, 224);
}
.efgh {
  padding: 30px 20px;
}
@media (max-width: 600px) {
  .abcd {
    padding: 50px 50px;
  }
}
@media (max-width: 400px) {
  .abcd {
    padding: 30px 30px;
  }
}






.main_containar{
  border: 1px solid black;
}

.table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.image{
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
    text-align: center;
  align-items: center;

}
.product{
  border: 1px solid black;
  padding: 10px;
    display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.price{
  border: 1px solid black;
  padding: 10px;
    display: flex;
  flex-direction: column;
    text-align: center;
  align-items: center;
}
.quntity{
  border: 1px solid black;
  padding: 10px;
    display: flex;
  flex-direction: column;
    text-align: center;
  align-items: center;
}
.total{
  border: 1px solid black;
  padding: 10px;
    display: flex;
  flex-direction: column;
    text-align: center;
  align-items: center;
}
.action{
  border: 1px solid black;
  padding: 10px;
    display: flex;
  flex-direction: column;
    text-align: center;
  align-items: center;
}
.top{
  padding: 5px;
  border: 1px solid red;
  font-weight: bolder;

}
.buttom{
  padding: 5px;
  border: 1px solid rgb(25, 0, 255);
  font-size: small;
}